.cart-section {
  padding: 60px;
  width: 1440px;
  background: var(--text-color2);
}

.cart-title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 50px;
}

.cart-layout {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.cart-table {
  flex: 3;
  border: 1px solid var(--border-color);
}

.cart-header {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 0.5fr;
  padding: 15px 20px;
  font-size: 14px;
  color: var(--dark-gray);
  border-bottom: 1px solid var(--border-color);
}

.cart-row {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 0.5fr;
  padding: 20px;
  align-items: center;
}

.product-info {
  display: flex;
  gap: 15px;
}

.product-image {
  width: 80px;
  height: 50px;
  background: var(--search-color);
}

.product-name {
  font-size: 14px;
  font-weight: 600;
}

.product-size {
  font-size: 13px;
  color: var(--dark-gray);
}

.product-price {
  font-size: 14px;
}

.quantity-box {
  display: flex;
  align-items: center;
  gap: 15px;
  background: var(--search-color);
  width: fit-content;
  padding: 6px 12px;
  border-radius: 4px;
}

.quantity-box button {
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.row-total {
  font-size: 14px;
}

.delete-icon {
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}

.cart-summary {
  flex: 1;
  background: var(--search-color);
  padding: 30px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.summary-price {
  font-weight: 700;
}

.summary-note {
  font-size: 13px;
  color: va(--dark-gray);
  margin-bottom: 30px;
}

.checkout-btn {
  width: 100%;
  padding: 14px;
  background: var(--secondary-color);
  color: var(--text-color2);
  border: none;
  font-size: 14px;
  cursor: pointer;
}
