.product-gallery {
  display: flex;
  gap: 20px;
  width: 50%;
}

.thumbnail-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.thumb {
  width: 70px;
  height: 70px;
  background: var(--search-color);
}

.main-image {
  flex: 1;
  height: 450px;
  /* background: var(--search-color); */
}
