.product-details {
  
  border-top: 1px solid  var(--border-color);
  padding-top: 40px;
  border-bottom: 1px solid  var(--border-color);
  padding-bottom: 40px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.tabs button {
  padding: 12px 20px;
  border: none;
  background: var(--search-color);
  border-radius: 5px;
  font-weight: bold;
}

.tabs .active {
  background: var(--primary-color);
  color: var(--text-color2);
}

.description-content p {
  margin-bottom: 10px;
  line-height: 1.6;
}
.description-content p i{
    font-weight:400;
}
