.product-info {
  width: 50%;
  font-family: Arial, sans-serif;
}

/* TITLE */
.product-title {
  font-size: 28px;
  margin-bottom: 15px;
}

/* COLOR */
.color-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.colors {
  display: flex;
  gap: 10px;
}

.color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.brown { background: #8b7355; }
.tan { background: #c37a4a; }
.black { background: #000; }
.dark { background: #3b1f0f; }

/* PRICE */
.price {
  font-size: 28px;
  font-weight: 700;
  margin: 20px 0;
}

/* SIZE */
.size-header {
  margin-bottom: 10px;
}

.sizes {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.sizes button {
  width: 48px;
  height: 40px;
  border: 1px solid #ddd;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
}

.sizes .active {
  background: #3b1f0f;
  color: #fff;
  border-color: #3b1f0f;
}

/* SIZE GUIDE */
.size-guide {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}
.hr-lines{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hr-lines div{
    width: 100%;
    height: 1px;
    background-color: #c6c5c5;
}
/* META */
.meta p {
  font-size: 14px;
  margin: 6px 0;
}

.meta span {
  color: #777;
}

/* CART */
.cart-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 25px 0;
}

.quantity-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.quantity-box button {
  width: 35px;
  height: 35px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.quantity-box span {
  width: 35px;
  text-align: center;
}

.add-cart {
  flex: 1;
  height: 45px;
  background: #3b1f0f;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.wishlist {
  width: 45px;
  height: 45px;
  border: 1px solid #ddd;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
}

/* BUY NOW */
.buy-now {
  width: 100%;
  height: 48px;
  background: #3b1f0f;
  color: #fff;
  border: none;
  margin-bottom: 25px;
  cursor: pointer;
  border-radius: 5px;
}
.delivery{
     display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
/* DELIVERY */
.delivery p {
  font-size: 14px;
  margin-bottom: 8px;
  align-items: center;
  color: #6e6969;
  
}
