.footer {
  background-color: var(--secondary-color);
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  color: var(--text-color2);
  padding: 50px 80px 20px;
  font-family: Arial, sans-serif;
}

/* GRID */
.footer-top {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
  gap: 40px;
}

.footer-col {
  text-align: left;
}

.footer-col h4 {
  font-size: 14px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  font-size: 13px;
  margin-bottom: 10px;
  color: var(--search-color);
  cursor: pointer;
}

.footer-col ul li:hover {
  color: var(--text-color2);
}

.footer-text {
  font-size: 13px;
  margin-bottom: 10px;
  color: var(--search-color);
}

/* SOCIAL */
.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
}

/* NEWSLETTER */
.newsletter p {
  font-size: 13px;
  color: var(--search-color);
  margin-bottom: 12px;
}

.newsletter-box {
  display: flex;
  gap: 10px;
}

.newsletter-box input {
  flex: 1;
  background: transparent;
  border: 1px solid var(--text-color2);
  border-radius: 5px;
  padding: 15px;
  color: var(--text-color2);
  outline: none;
  font-size: 13px;
}

.newsletter-box button {
  background: var(--secondary-color);
  color: var(--text-color2);
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

/* BOTTOM */
.footer-bottom {
  border-top: 1px solid var(--search-color);
  margin-top: 40px;
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: var(--search-color);
}

/* ===== ONE MEDIA QUERY ===== */
@media (max-width: 768px) {
  .footer {
    width: 100%;
    padding: 40px 25px 20px;
  }

  .footer-top {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .newsletter-box {
    flex-direction: column;
  }

  .newsletter-box button {
    width: 100%;
  }

  .footer-bottom {
    justify-content: center;
    text-align: center;
  }
}
