.footer {
  background-color: var(--secondary-color);
  width: 1440px;
  color: var(--text-color2);
  padding: 50px 80px 20px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

.footer-top {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
  gap: 40px;
}

.footer-col {
    text-align: left;
}
.footer-col h4 {
  font-size: 14px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  font-size: 13px;
  margin-bottom: 10px;
  color: var(--search-color);
  cursor: pointer;
}

.footer-col ul li:hover {
  color: var(--text-color2);
}

.footer-text {
  font-size: 13px;
  margin-bottom: 10px;
  color: var(--search-color);
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
}

.newsletter p {
  font-size: 13px;
  color: var(--search-color);
  margin-bottom: 12px;
}

.newsletter-box {
  display: flex;
  gap:10px;
}

.newsletter-box input {
  flex: 1;
  background: transparent;
  border: 1px solid var(--text-color2);
  border-radius: 5px;
  padding: 15px;
  color: var(--text-color2);
  outline: none;
  font-size: 13px;
}

.newsletter-box button {
  background: var(--secondary-color);
  color: var(--text-color2);
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.footer-bottom {
  border-top: 1px solid var(--search-color);
  margin-top: 40px;
  padding-top: 15px;
  display: flex;
  justify-content: end;
  font-size: 12px;
  color: var(--search-color);
}

@media (max-width: 1024px) {
  .footer-top {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 30px 20px;
  }

  .footer-top {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-bottom {
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer-top {
    grid-template-columns: 1fr;
  }

  .newsletter-box {
    flex-direction: column;
  }

  .newsletter-box button {
    width: 100%;
  }
}
