:root {
  --primary-color: #3b1f0f;
  --secondary-color: #000000;
  --tertiory-color: #272727;
  --light-black: #232323;
  --text-color2: #FFFFFF;
  --search-color:#ddd;
  --border-color:#c6c5c5;
  --brown-color:#8b7355;
  --tan-color:#c37a4a;
  --dark-gray:#6e6969;
  --border-radius1: 25px;
  --border-radius2: 10px;
  --border-radius3: 5px;
  --default-width: 90%;
  --default-padding: 5%;
  --heading-one: 56px;
  --heading-two: 38px;
  --heading-three: 32px;
  --heading-four: 24px;
  --default-p-size: 16px;
  --p-line-height: 1.6;
  --heading-line-height: 1.2;
  --bold-font-weight: 600;
  --extra-bold-font-weight: 900;
  --overlay-color: 31, 41, 55;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}