.pab-section {
  width: 100%;
  padding: 80px 0 120px;
  background: var(--text-color2);
  text-align: center;
}

.pab-title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.pab-subtitle {
  font-size: 14px;
  color: var(--dark-gray);
  margin-bottom: 70px;
}

.pab-grid {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: nowrap;
}
